.vf-modal-mask {
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: block;
  transition: opacity .3s ease;
  overflow: scroll;
}

.vf-modal-mask.vf-modal-rounded > .vf-modal-wrapper > .vf-modal-container {
  border-radius: 3em;
}

.vf-modal-mask.vf-modal-large > .vf-modal-wrapper > .vf-modal-container {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.vf-modal-mask.vf-modal-small > .vf-modal-wrapper > .vf-modal-container {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

.vf-modal-wrapper {
  display: block;
  position: relative;
  height: 100%;
  overflow: scroll;
}

.vf-modal-container {
  position: relative;
  width: 80%;
  margin: 5% 10%;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
}

.vf-modal-sm .vf-modal-container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.vf-modal-close {
  z-index: 2;
  cursor: pointer;
}

.vf-modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.vf-modal-body {
  margin: 20px 0;
}

.vf-modal-default-button {
  float: right;
}

.vf-modal-enter {
  opacity: 0;
}

.vf-modal-leave-active {
  opacity: 0;
}

.vf-modal-enter .vf-modal-container,
.vf-modal-leave-active .vf-modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}